<iframe id="document" src="<?php echo $resource['Resource']['url']; ?>" width="100%" height="700"></iframe>
<br />
<a href="<?php echo $resource['Resource']['url']; ?>" target="_blank" style="color: #333; font-weight:bold; text-decoration:underline;"><img src="<?php echo $this->Html->url('/') . 'images/table/1400201090_pdf.png' ; ?>" /> <?php echo __('Clic para ver y descargar ') . $resource['Resource']['name']; ?></a>

<script type="text/javascript">
	$(document).ready(function(){

		$("#blocker").scroll(function() {
		 console.log('scroll');
		});

		$('#blocker').bind('contextmenu', function(e) {
		    return false;
		});
		
	});
</script>